site_name: Survival Expanded
site_description: Documentation for DayZ Survival Expanded mods
site_author: Survival Expanded
site_url: https://survival-expanded.github.io

repo_name: survival-expanded.github.io
repo_url: https://github.com/Survival-Expanded/survival-expanded.github.io

theme:
  name: material
  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - navigation.footer
    - navigation.path
    - navigation.indexes
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono

plugins:
    - search

extra:
  social:
    - icon: fontawesome/brands/discord
      link: https://discord.gg/JEh3ZNmQgs
